/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVariableVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
} */

* {
  text-rendering: optimizeLegibility !important;
}

.font-sans {
  font-feature-settings: "ss05", "tnum";
  -moz-font-feature-settings: "ss05", "tnum";
  -webkit-font-feature-settings: "ss05", "tnum";
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }
  ::-webkit-scrollbar-track { background: transparent }
  ::-webkit-scrollbar-thumb { border-radius: 0.15rem }
  ::-webkit-scrollbar-corner { background: transparent }
  * { scrollbar-width: thin }
}