---
import Layout from "../layouts/Layout.astro";
---
<Layout center>
  <main class="m-auto h-full">
    <div class="flex flex-col items-center justify-center py-24">
      <h1 class="text-9xl font-mono font-bold text-white/60">404</h1>
      <p class="text-2xl text-white/60 font-title">Page not found</p>
      <a class="btn btn-outline btn-white btn-wide hover:text-black mt-4" href="/">
        Go Home
      </a>
    </div>
  </main>
</Layout>