---
import Layout from "../layouts/Layout.astro";
---
<Layout center={true}>
  <main class="m-auto h-full">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-9xl font-title font-bold text-white/60">404</h1>
      <p class="text-2xl text-white/60">Page not found</p>
      <a class="border-white border-2 py-2 px-4 rounded-lg mt-4 hover:bg-white hover:text-gray-900 transition" href="/">
        Go Home
      </a>
    </div>
  </main>
</Layout>