---
import Layout from '../layouts/Layout.astro';

const MESSAGES = [];
---

<Layout title="Adapt">
	<main class="m-auto p-6">
		<h1 class="text-center text-8xl font-black">Adapt</h1>
	</main>
</Layout>