---
import NavBar from '../components/nav/NavBar.astro';
import HomepageCard from '../components/HomepageCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Adapt" hideNavBar>
  <main class="m-auto">
    <div class="flex flex-col relative overflow-hidden box-border h-full" id="banner">
      <NavBar transparent />
      <canvas id="mesh-gradient" data-transition-in />
      <div class="motion-safe:animate-fade-in text-center flex flex-col items-center px-24 py-32 mobile:px-12 mobile:py-16">
        <h1 class="text-8xl mobile-xs:text-7xl font-black pb-8 font-title">Adapt, Evolve, Chat</h1>
        <p class="text-xl text-white text-opacity-60">
          Grow a community, connect with your friends, or whatever you're capable of with Adapt,
          a lightweight and customizable messaging platform which favors your privacy.
        </p>
        <div class="flex gap-4 mt-12 mobile:flex-col">
          <a class="btn btn-secondary btn-lg" href="#why-adapt">Learn More</a>
          <a class="btn btn-primary btn-lg" href="https://app.adapt.chat">Launch Adapt</a>
        </div>
      </div>
    </div>
    <h2 class="text-center p-8 mt-4 text-4xl font-bold font-title" id="why-adapt">Why Adapt?</h2>
    <div class="flex justify-center">
      <ul class="flex flex-wrap m-auto justify-between max-w-[2000px] md:mx-4 mobile:flex-nowrap mobile:flex-col">
        <HomepageCard title="Open Source" icon="/icons/code.svg">
          Adapt is completely open source, so you can see exactly what's going on under the hood.
          It also means you, along with the community, can contribute to Adapt. This means adding
          features, patching bugs, and detecting security vulnerabilities is faster and easier.
        </HomepageCard>
        <HomepageCard title="Privacy" icon="/icons/lock.svg">
          Adapt values your privacy. We store as little data as possible, and we don't sell your data
          to advertisers. If you're ever in doubt, remember that Adapt is open source.
        </HomepageCard>
        <HomepageCard title="Fast" icon="/icons/bolt.svg">
          Adapt's backends are written in <i>Rust</i>, not only ensuring that Adapt is performant,
          but also preventing less error-prone and vulnerable code from being shipped. And your
          client can be written in Rust too, if you want.
        </HomepageCard>
      </ul>
    </div>

    <div class="flex flex-col items-center pt-24 pb-16">
      <h2 class="text-center text-3xl font-bold font-title" id="launch">Let's get started.</h2>
      <div class="mt-8 relative group">
        <div
          class="px-8 py-4 absolute btn btn-lg text-xl font-bold rounded-lg blur group-hover:blur-lg
            will-change-[filter] bg-gradient-to-r from-primary to-secondary inset-0 font-title"
        >
          Launch Adapt
        </div>
        <a
          class="p-0.5 relative btn btn-lg border-none inline-flex items-center justify-center font-bold overflow-hidden rounded-lg"
          href="//app.adapt.chat"
        >
          <span class="w-full h-full bg-gradient-to-br from-primary to-secondary absolute" />
          <span class="relative flex items-center justify-center w-full h-full px-8 py-4 transition-all ease-out
            bg-gray-900 rounded-md group-hover:bg-opacity-0 duration-400"
          >
            <span
              class="relative bg-gradient-to-r from-primary-400 to-secondary-400 bg-clip-text text-transparent
                group-hover:from-primary-100 group-hover:to-secondary-100 text-xl mobile-xs:text-lg font-title"
            >
              Launch Adapt
            </span>
          </span>
        </a>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { Gradient } from 'whatamesh'

  const gradient = new Gradient()
  gradient.initGradient('#mesh-gradient')

  const banner = document.getElementById('banner')!
  banner.addEventListener('mouseover', () => gradient.play())
  banner.addEventListener('mouseout', () => gradient.pause())
</script>

<style>
  #mesh-gradient {
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    flex-grow: 1;
    z-index: -1;
    --gradient-color-1: #0586ff;
    --gradient-color-2: #9500f2;
    --gradient-color-3: #ff3d94;
    --gradient-color-4: #0056c6;
  }
</style>
