---
import Layout from '../layouts/Layout.astro';

const MESSAGES = [];
---

<Layout title="Adapt">
	<main class="m-auto p-6 flex flex-col items-center">
		<h1 class="text-center text-8xl font-black p-8">Adapt, Evolve, Chat</h1>
    <p class="text-lg text-gray-400">Grow a community, connect with your friends, or whatever you're capable of with Adapt.</p>
	</main>
</Layout>