---
export interface Props {
  href: string;
};

const { href } = Astro.props;
---

<li class="text-white text-opacity-70 hover:text-opacity-100 transition-all">
  <a href={href}>
    <slot />
  </a>   
</li>