---
type Link = {
  name: string,
  href: string,
} | {
  name: string,
  links: Link[],
}

interface Props extends Link {}

const { link } = Astro.props
---

<li>
  {"href" in link ? (
    <a class="!bg-base-content !bg-opacity-0 hover:!bg-opacity-10" href={link.href}>{link.name}</a>
  ) : (
    <details>
      <summary>{link.name}</summary>
      <ul class="p-2 bg-gray-950 nav-menu w-[168px]">
        {link.links.map(link => <Astro.self link={link} />)}
      </ul>
    </details>
  )}
</li>